<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
    <div style="background-image: url({{'/assets/ComicBanner.png'| prepend: site.baseurl }});" id="landingcontainer">
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
      
    </div>

    {% include footer.html %}

  </body>

</html>
